<div fxLayout="column" appFillHeight>

  <p-menubar [model]="this.menuItems" [autoDisplay]="false">
  </p-menubar>

  <vertical-split-pane primary-component-initialratio="0.3" appFillHeight>

    <div class="split-pane-content-primary" fxLayout="column" appFillHeight [footerElement]="footer">
      <!-- žal ne gre drugače, kot da določim footer -->

      <!-- <div class="blue">
        HEADER left
      </div> -->

      <div class="violet" fxFlex appFillHeight>
        <app-engine-properties #engineProperties (enginePropertiesChanged)="this.enginePropertiesChanged($event)"></app-engine-properties>
      </div>

      <!-- <div class="orange">
        FOOTER left
      </div> -->
    </div>

    <div class="split-pane-content-secondary" fxLayout="column" appFillHeight [footerElement]="footer">
      <!-- žal ne gre drugače, kot da določim footer -->

      <!-- <div class="blue">
        HEADER right
      </div> -->

      <div class="violet" fxFlex appFillHeight>
        <app-engine-viewer #engineViewer></app-engine-viewer>
      </div>

      <!-- <div class="orange">
        FOOTER right
      </div> -->
    </div>
  </vertical-split-pane>

  <div #footer>
    <p-toolbar>
      <!-- <div class="ui-toolbar-group-left">
        STATUS BAR
      </div> -->

      <!-- <div class="ui-toolbar-group-right">
        STATUS BAR
      </div> -->
    </p-toolbar>
  </div>


  <!-- <mat-sidenav-container autosize appFillHeight>

    <mat-sidenav mode="side" opened="true" #drawer>

      <app-engine-properties></app-engine-properties>

    </mat-sidenav>

    <mat-sidenav-content>
      cepec
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div class="blue">
    STATUS BAR
  </div> -->

</div>


<app-custom-dialog #generalDialog>
  <pre>{{this.exception}}</pre>
</app-custom-dialog>

<app-create-engine-dialog #createEngineDialog></app-create-engine-dialog>

<app-custom-upload #customUpload [filter]="'.json'"></app-custom-upload>